Source: haskell-happstack-scaffolding
Priority: extra
Section: haskell
Maintainer: David Fox <dsf@seereason.com>
Build-Depends: debhelper (>= 7.0),
               haskell-devscripts (>= 0.8),
               cdbs,
               ghc,
               ghc-prof,
               libghc-hjscript-dev,
               libghc-hjscript-prof,
               libghc-hjavascript-dev,
               libghc-hjavascript-prof,
               libghc-quickcheck2-dev (>= 2),
               libghc-quickcheck2-prof (>= 2),
               libghc-unixutils-dev,
               libghc-unixutils-prof,
               libghc-acid-state-dev (>= 0.6),
               libghc-acid-state-prof (>= 0.6),
               libghc-authenticate-dev,
               libghc-authenticate-prof,
               libghc-base-dev | ghc,
               libghc-base-prof | ghc-prof,
               libghc-binary-dev | ghc,
               libghc-binary-prof | ghc-prof,
               libghc-blaze-html-dev (>= 0.5),
               libghc-blaze-html-prof (>= 0.5),
               libghc-bytestring-dev | ghc,
               libghc-bytestring-prof | ghc-prof,
               libghc-containers-dev | ghc,
               libghc-containers-prof | ghc-prof,
               libghc-digestive-functors-dev,
               libghc-digestive-functors-prof,
               libghc-digestive-functors-happstack-dev,
               libghc-digestive-functors-happstack-prof,
               libghc-digestive-functors-hsp-dev,
               libghc-digestive-functors-hsp-prof,
               libghc-directory-dev | ghc,
               libghc-directory-prof | ghc-prof,
               libghc-fb-dev,
               libghc-fb-prof,
               libghc-fgl-dev,
               libghc-fgl-prof,
               libghc-filepath-dev | ghc,
               libghc-filepath-prof | ghc-prof,
               libghc-happstack-authenticate-dev (>= 0.7.5),
               libghc-happstack-authenticate-prof (>= 0.7.5),
               libghc-happstack-hsp-dev,
               libghc-happstack-hsp-prof,
               libghc-happstack-search-dev,
               libghc-happstack-search-prof,
               libghc-happstack-server-dev,
               libghc-happstack-server-prof,
               libghc-happstack-util-dev,
               libghc-happstack-util-prof,
               libghc-harp-dev,
               libghc-harp-prof,
               libghc-hslogger-dev,
               libghc-hslogger-prof,
               libghc-hsp-dev,
               libghc-hsp-prof,
               libghc-hsx-dev (>= 0.8),
               libghc-hsx-prof (>= 0.8),
               libghc-hsx-jmacro-dev,
               libghc-hsx-jmacro-prof,
               libghc-html-dev,
               libghc-html-prof,
               libghc-ixset-dev,
               libghc-ixset-prof,
               libghc-jmacro-dev,
               libghc-jmacro-prof,
               libghc-json-dev,
               libghc-json-prof,
               libghc-mtl-dev,
               libghc-mtl-prof,
               libghc-network-dev,
               libghc-network-prof,
               libghc-old-locale-dev | ghc,
               libghc-old-locale-prof | ghc-prof,
               libghc-parsec3-dev (>= 3) | libghc-parsec2-dev (<< 3),
               libghc-parsec3-prof (>= 3) | libghc-parsec2-prof (<< 3),
               libghc-pretty-dev | ghc,
               libghc-pretty-prof | ghc-prof,
               libghc-process-dev | ghc,
               libghc-process-prof | ghc-prof,
               libghc-regex-compat-dev,
               libghc-regex-compat-prof,
               libghc-safecopy-dev,
               libghc-safecopy-prof,
               libghc-set-extra-dev,
               libghc-set-extra-prof,
               libghc-stm-dev,
               libghc-stm-prof,
               libghc-syb-dev,
               libghc-syb-prof,
               libghc-syb-with-class-dev,
               libghc-syb-with-class-prof,
               libghc-template-haskell-dev | ghc,
               libghc-template-haskell-prof | ghc-prof,
               libghc-text-dev (>= 0.11),
               libghc-text-prof (>= 0.11),
               libghc-time-dev | ghc,
               libghc-time-prof | ghc-prof,
               libghc-unicode-names-dev,
               libghc-unicode-names-prof,
               libghc-unicode-properties-dev,
               libghc-unicode-properties-prof,
               libghc-unix-dev | ghc,
               libghc-unix-prof | ghc-prof,
               libghc-utf8-string-dev,
               libghc-utf8-string-prof,
               libghc-web-routes-dev (>= 0.26.2),
               libghc-web-routes-prof (>= 0.26.2),
               libghc-web-routes-happstack-dev,
               libghc-web-routes-happstack-prof,
               libghc-web-routes-hsp-dev,
               libghc-web-routes-hsp-prof,
               libghc-web-routes-th-dev,
               libghc-web-routes-th-prof,
               haskell-hsx-utils,
               libghc-xss-sanitize-dev (>= 0.3.0.1),
               libghc-xss-sanitize-prof (>= 0.3.0.1)
Build-Depends-Indep: ghc-doc,
                     libghc-hjscript-doc,
                     libghc-hjavascript-doc,
                     libghc-quickcheck2-doc (>= 2),
                     libghc-unixutils-doc,
                     libghc-acid-state-doc (>= 0.6),
                     libghc-authenticate-doc,
                     libghc-base-doc | ghc-doc,
                     libghc-binary-doc | ghc-doc,
                     libghc-blaze-html-doc,
                     libghc-bytestring-doc | ghc-doc,
                     libghc-containers-doc | ghc-doc,
                     libghc-digestive-functors-doc,
                     libghc-digestive-functors-happstack-doc,
                     libghc-digestive-functors-hsp-doc,
                     libghc-directory-doc | ghc-doc,
                     libghc-fb-doc,
                     libghc-fgl-doc,
                     libghc-filepath-doc | ghc-doc,
                     libghc-happstack-authenticate-doc (>= 0.7.5),
                     libghc-happstack-hsp-doc,
                     libghc-happstack-search-doc,
                     libghc-happstack-server-doc,
                     libghc-happstack-util-doc,
                     libghc-harp-doc,
                     libghc-hslogger-doc,
                     libghc-hsp-doc,
                     libghc-hsx-doc (>= 0.8),
                     libghc-hsx-jmacro-doc,
                     libghc-html-doc,
                     libghc-ixset-doc,
                     libghc-jmacro-doc,
                     libghc-json-doc,
                     libghc-mtl-doc,
                     libghc-network-doc,
                     libghc-old-locale-doc | ghc-doc,
                     libghc-parsec3-doc (>= 3) | libghc-parsec2-doc (<< 3),
                     libghc-pretty-doc | ghc-doc,
                     libghc-process-doc | ghc-doc,
                     libghc-regex-compat-doc,
                     libghc-safecopy-doc,
                     libghc-set-extra-doc,
                     libghc-stm-doc,
                     libghc-syb-doc,
                     libghc-syb-with-class-doc,
                     libghc-template-haskell-doc | ghc-doc,
                     libghc-text-doc (>= 0.11),
                     libghc-time-doc | ghc-doc,
                     libghc-unicode-names-doc,
                     libghc-unicode-properties-doc,
                     libghc-unix-doc | ghc-doc,
                     libghc-utf8-string-doc,
                     libghc-web-routes-doc (>= 0.26.2),
                     libghc-web-routes-happstack-doc,
                     libghc-web-routes-hsp-doc,
                     libghc-web-routes-th-doc,
                     libghc-xss-sanitize-doc (>= 0.3.0.1)
Standards-Version: 3.9.1
Homepage: http://hackage.haskell.org/package/happstack-scaffolding

Package: libghc-happstack-scaffolding-dev
Architecture: any
Depends: ${shlibs:Depends},
         ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Scaffolding library derived from the seereason web application
 Modules pulled out of the seereason.com application for use as a template
 for creating new apps.
 .
  Author: SeeReason Partners <partners@seereason.com>
  Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
 .
 This package contains the normal library files.

Package: libghc-happstack-scaffolding-prof
Architecture: any
Depends: ${haskell:Depends},
         ${misc:Depends}
Recommends: ${haskell:Recommends}
Suggests: ${haskell:Suggests}
Provides: ${haskell:Provides}
Description: Scaffolding library derived from the seereason web application
 Modules pulled out of the seereason.com application for use as a template
 for creating new apps.
 .
  Author: SeeReason Partners <partners@seereason.com>
  Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
 .
 This package contains the libraries compiled with profiling enabled.

# Package: libghc-happstack-scaffolding-doc
# Architecture: all
# Section: doc
# Depends: ${haskell:Depends},
#          ${misc:Depends}
# Recommends: ${haskell:Recommends}
# Suggests: ${haskell:Suggests}
# Description: Scaffolding library derived from the seereason web application
#  Modules pulled out of the seereason.com application for use as a template
#  for creating new apps.
#  .
#   Author: SeeReason Partners <partners@seereason.com>
#   Upstream-Maintainer: SeeReason Partners <partners@seereason.com>
#  .
#  This package contains the documentation files.
